
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


header {
    margin-top: 5em;
}

footer {
    background-color: $base-col-alt;
    box-shadow: 0 50vh 0 50vh $base-col-alt;
}

.base-col-alt {
    background-color: $base-col-alt;
}

ul {
    margin-bottom: 0;
}
